/* custom scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.body{
  padding: 0 20px;
}

/* navigation bar */

.nav-links-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nested-link-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 300px;
}

a{
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.contact-list-item{
  padding: 0;
}

.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active{
  color: black;
}

.nav-link:hover{
  text-decoration: none;
  color: #007bff;
}

.contact-link, .github-link{
  color: #007bff;
}

i:hover{
  color: white;
}

.contact-link:hover, .github-link:hover, .visit-website-link:hover{
  text-decoration: none;
  color: white;
  background-color: #007bff;
}

.github-link{
  padding: 10px 20px;
  margin: 50px 0;
}

.header{
  padding: 30px 0;
}

h1{
  font-family: "eurostile", sans-serif; font-weight: 800;
}

.desk-img{
  max-width: 800px;
}

.avatar{
  max-width: 400px;
  margin-bottom: 50px;
}

.about-container{
  background-color: #007bff;
  padding: 100px 0 300px 0;
  color: white;
}

.skills{
  margin-top: -200px;
  background-color: white;
  border-radius: 10px;
}

.projects-section{
  margin-top: 100px;
}

.form-section{
  padding: 80px;
}

.img{
  width: 100%;
  display: block;
  transition: transform 0.5s, background-image 0.5s;
}

.project-div {
  width: 48%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.project-div:hover {
  background-image: initial;
}

.project-divv{
  transition: opacity 0.3s, transform 0.3s;
}

.project-divv:hover .project-bg-image{
  background-image: none;
  opacity: 0.5;
  transform: scale(1.2);
}

.project-div:hover .project-description{
  display: block;
  height: 100%;
  width: 100%;
  background-color: #141c3a;
  color: white;
}

.project-div:hover .project-skills-list{
  display: block;
}

.project-bg-image{
  background-image: url('js-project.png');
  height: 100%;
  background-size: contain; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: #007bff;
  color: white;
  padding: 20px 0;
}

.project-skills-list{
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: lightgrey;
  font-size: 12px;
}

.form-section{
  
}