/* custom scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.body{
  padding: 0 20px;
}

.subtitle{
  letter-spacing: normal;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
}

/* fonts */

body{
  font-family: "europa", sans-serif;
}

h1, h2, h3, h5{
  font-family: "eurostile", sans-serif; font-weight: 700;
  letter-spacing: -1px;
}

h4{
  font-family: 'Open Sans', sans-serif;
}

/* navigation bar */
.navbar-collapse{
  display: inline-block;
}

ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.nested-link-container li{
  text-align: center;
  display: inline-block;
}

.nav-links-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.nested-link-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nested-link-container a{
  display: inline-block;
}

a{
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.contact-list-item{
  padding: 0;
}

.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active{
  color: black;
}

.nav-link:hover{
  text-decoration: none;
  color: #007bff;
}

.contact-link, .github-link, .certification-link{
  color: #007bff;
}

.contact-link{
  border: 1.6px solid #007bff;
}

.contact-link:hover, .github-link:hover, .visit-website-link:hover, .certification-link:hover{
  text-decoration: none;
  color: white;
  background-color: #007bff;
}

.header{
  padding: 30px 0;
}

.desk-img{
  max-width: 800px;
}

.avatar{
  max-width: 400px;
  margin-bottom: 50px;
}

.about-section{
  background-color: #007bff;
  padding: 100px 0 300px 0;
  color: white;
}

.about-container{
  width: 50%;
}

.skills-section{
  margin-top: -200px;
  background-color: white;
  border-radius: 10px;
}

.skill-center-div{
  border: 1px solid rgb(231, 231, 233);
  border-top: 0;
  border-bottom: 0;
}

.skill-icon{
  margin-bottom: 20px;
}

.projects-section{
  margin-top: 150px;
}

.form-section{
  margin-top: 50px;
  padding: 40px 80px 0;
}

.img {
  width: 100%;
  display: block;
  transition: transform 0.5s, opacity 0.5s;
}

.project-div {
  width: 48%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: white;
  background-color: #141c3a;
}

.project-description {
  display: none;
  position: absolute;
  top: 0;
  padding-top: 100px;
}

h4 {
  padding: 0 20px;
}

.project-div:hover .project-description {
  display: block;
  height: 100%;
  width: 100%;
}

.project-div:hover img {
  opacity: 0;
  transform: scale(1.2);
}

.project-skills-list{
  position: absolute;
  bottom: 0;
  right: 10px;
  color: lightgrey;
  font-size: 12px;
}

span{
  color: #007bff;
  font-weight: bold;
}

.form-section input{
  line-height: 40px;
}


.github-link{
  padding: 10px 20px;
  margin: 50px 0;
}

.footer-icon{
  color: white;
}

.footer-icon:hover{
  background-color: white;
  color: #007bff;
}

footer{
  background-color: #007bff;
  color: white;
  padding: 40px 0;
  margin-top: 60px;
}

@media (max-width:768px){
  .project-div{
    width: 100%;
  }

  .nav-sections-container{
    width: 100%;
    margin-bottom: 30px;
  }

  .about-container{
    width: 75%;
  }

  .skill{
    padding: 40px;
  }

  .skills-section > .skill:not(:last-child){
    border-bottom: 1px solid rgb(207, 212, 218);
  }

  .skill-center-div{
    border: 0;
  }

  .form-section{
    padding: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .project-description{
    padding-top: 50px;
  }
}

@media (max-width: 400px){
  .project-description{
    padding-top: 20%;
  }
  
  h4{
    font-size: 14px;
  }
}